{% extends 'brooklyn.layout.twig' %}

{% block content %}
<div id="content">

        <div class="post">

             <h2><a href="/">{{ blog.name }}</a>: <b>About</b></h2>

            <div class="entry">

                {{ blog.about }}
               

            </div>
        </div>

    </div>

{% endblock %}


    