<!DOCTYPE HTML> 
<html lang=en>

<head profile="http://gmpg.org/xfn/11">
{{ head }}
<link rel="stylesheet" href="{{ themepath }}assets/css/style.css">
</head>
<body>

<div id="container">
    {% block content %}
    {% endblock %}
    <div id="footer">
    
        <p>
        <a href="/about/">about</a> :: <a href="/archive/">archive</a> :: <a href="http://mnmlist.com/uncopyright/">uncopyright</a> :: <a href="/feed">feed</a>
        </p>
    </div>
</div>


</body>
</html>
